/*élements principaux et intégration des polices */

html {
	font-family: "Roboto", sans-serif;
	body {
	  color: #000;
	  box-sizing: border-box;
	  footer {
		.btn_index {
		  font-family: "Shrikhand", cursive;
		}
	  }
	}
  }
  
  @media (min-width: 992px) {
	.main_index {
	  display: flex;
	}
	#restaurants_container {
	  padding-left: 50px;
	  display: flex;
	  flex-wrap: wrap;
	  .width_desktopCard {
		width: 165%;
		.width_desktop {
		  width: 100%;
		}
	  }
	}
  }
  
  $primary: #9356dc;
  $secondary: #ff79da;
  $tertiary: #99e2d0;
  $linerWork: transparent;
  
  /*initialisation des boutons*/
  
  .btn {
	background-image: linear-gradient($secondary, $primary);
	border-radius: 25px;
	padding: 15px;
	font-size: 15px;
	border: 0;
	color: whitesmoke;
	max-width: 300px;
	box-shadow: #a5a5a5 0 5px 10px;
	&:hover {
	  background: linear-gradient(
		356deg,
		#a16be0 0%,
		#a16be0 33%,
		#ff93e1 88%,
		#ff93e1 100%
	  );
	  box-shadow: #4b4b4b 0 5px 10px;
	  transition: 0.5s ease-in-out;
	}
  }
  
  /* modifications des propritétés par défaut */
  
  a {
	text-decoration: none;
	color: #000;
  }
  
  li {
	list-style-type: none;
  }
  
  /*header*/
  
  header {
	font-family: "Shrikhand", cursive;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
  
	.link_logo {
	  width: 100%;
	  display: flex;
	  justify-content: center;
	}
	.index_back {
	  font-size: 26px;
	}
  }
  
  /*formulaire de recherche*/
  
  form {
	border: 1px solid $linerWork;
	width: 100%;
	padding: 15px 0px 15px 0px;
	display: flex;
	justify-content: center;
	background-color: #eaeaea;
	box-shadow: 0 4px 4px inset #c0c0c0;
	.icon_map {
	  margin-right: 10px;
	}
	input {
	  background-color: transparent;
	  border: 0;
	  font-weight: bold;
	}
  }
  
  /*slogan et bouton explorer*/
  
  .slogan {
	border: 1px solid $linerWork;
	width: 100%;
	padding: 15px 0px 50px 0px;
	background-color: #f6f6f6;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	text-align: center;
	h2 {
	  font-weight: bold;
	}
	p {
	  font-size: 18px;
	  font-weight: 100;
	}
	.btn_explore {
	  @extend .btn;
	}
  }
  
  /*fontionnement du site*/
  
  .function {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 18px;
	border: 1px solid $linerWork;
	h2 {
	  width: 100%;
	  display: flex;
	  align-items: center;
	  border: 1px solid $linerWork;
	}
	ul {
	  border: 1px solid $linerWork;
	  li {
		border: 1px solid $linerWork;
		display: flex;
		align-items: center;
		padding: 25px;
		border-radius: 15px;
		margin-bottom: 15px;
		margin-left: -35px;
		background: #f2f2f2;
		box-shadow: #a5a5a5 0 5px 10px;
  
		&:hover {
		  background-color: #e9d9ff;
		  transition: 0.3s ease-in;
		}
		&:hover i {
		  color: $primary;
		  transition: 0.3s ease-in-out;
		}
		.number {
		  width: 40px;
		  height: 40px;
		  border-radius: 20px;
		  background: $primary;
		  padding: 5px 10px 5px 10px;
		  margin-right: 15px;
		  margin-left: -35px;
		  color: whitesmoke;
		}
		i {
		  margin: 0 15px 0 0;
		  padding: 0;
		}
	  }
	}
  }
  /*Cards des restaurants*/
  .restaurants {
	display: flex;
	flex-direction: column;
	background-color: #f2f2f2;
	border: 1px solid $linerWork;
	.restaurant_card {
	  width: 100%;
	  display: flex;
	  flex-direction: column;
	  border-radius: 15px;
	  box-shadow: 0px 5px 20px rgba(153, 153, 153, 0.3);
	  margin-top: 15px;
	  margin-bottom: 15px;
	  border: 1px solid $linerWork;
	  img {
		width: 100%;
		height: 300px;
		object-fit: cover;
		border-radius: 15px 15px 0 0;
	  }
	  .card_description {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 25px;
		padding: 0 15px 0 15px;
		i {
		  font-size: 30px;
		  &:hover {
			font-weight: 900;
			background: -webkit-linear-gradient($secondary, $primary);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			transition: 0.6s ease-in;
		  }
		}
	  }
	  .restaurant_cardNew {
		align-self: flex-end;
		background-color: $tertiary;
		border-radius: 5px;
		color: #5f867c;
		font-weight: bold;
		font-size: 18px;
		position: absolute;
		margin: 15px;
		padding: 0px 10px;
	  }
	}
  }
  
  /*pages menus restaurants*/
  .banner {
	height: 300px;
	img {
	  width: 100%;
	  height: 100%;
	  object-fit: cover;
	}
  }
  .menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 1px solid $linerWork;
	background-color: #f2f2f2;
	border-radius: 25px 25px 0 0;
	padding-top: 25px;
	padding-left: 15px;
	padding-right: 25px;
	padding-bottom: 50px;
  
	.menu_title {
	  font-family: "Shrikhand", cursive;
	  display: flex;
	  align-items: center;
	  justify-content: space-between;
	  i {
		font-size: 30px;
		cursor: pointer;
		&:hover {
		  font-weight: 900;
		  background: -webkit-linear-gradient(#ff79da, #9356dc);
		  -webkit-background-clip: text;
		  -webkit-text-fill-color: transparent;
		  animation: fondu-in 0.5s ease-in-out;
		  animation-delay: 0.1s;
		  transition: 0.5s ease-in-out;
		}
	  }
	}
  }
  .container {
	ul {
	  li {
		height: 75px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: white;
		border: 1px solid $linerWork;
		box-shadow: 0px 5px 20px rgba(153, 153, 153, 0.3);
		padding-left: 15px;
		margin-left: -35px;
		margin-bottom: 15px;
		border-radius: 15px;
  
		.li_content {
		  width: 100%;
		}
		.li_price {
		  height: 75px;
		  padding-top: 50px;
		  padding-right: 15px;
		}
		.li_check {
		  border-radius: 0 15px 15px 0;
		  background-color: $tertiary;
		  padding: 25px;
  
		  .fa-check-circle {
			font-size: 25px;
			color: white;
		  }
		}
	  }
	}
  }
  .btn_order {
	@extend .btn;
  }
  /*footer*/
  footer {
	background-color: #2e2e2e;
	z-index: 2;
	a {
	  font-size: 15px;
	  color: whitesmoke;
	}
	.btn_index {
	  font-size: 20px;
	}
	li {
	  margin: 10px 0 10px 0;
	  i {
		margin-right: 15px;
	  }
	}
  }
  