@charset "UTF-8";
/*élements principaux et intégration des polices */
html {
  font-family: "Roboto", sans-serif;
}

html body {
  color: #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html body footer .btn_index {
  font-family: "Shrikhand", cursive;
}

@media (min-width: 992px) {
  .main_index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #restaurants_container {
    padding-left: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #restaurants_container .width_desktopCard {
    width: 165%;
  }
  #restaurants_container .width_desktopCard .width_desktop {
    width: 100%;
  }
}

/*initialisation des boutons*/
.btn, .slogan .btn_explore, .btn_order {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(#ff79da, #9356dc);
  border-radius: 25px;
  padding: 15px;
  font-size: 15px;
  border: 0;
  color: whitesmoke;
  max-width: 300px;
  -webkit-box-shadow: #a5a5a5 0 5px 10px;
          box-shadow: #a5a5a5 0 5px 10px;
}

.btn:hover, .slogan .btn_explore:hover, .btn_order:hover {
  background: linear-gradient(356deg, #a16be0 0%, #a16be0 33%, #ff93e1 88%, #ff93e1 100%);
  -webkit-box-shadow: #4b4b4b 0 5px 10px;
          box-shadow: #4b4b4b 0 5px 10px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

/* modifications des propritétés par défaut */
a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

/*header*/
header {
  font-family: "Shrikhand", cursive;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .link_logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .index_back {
  font-size: 26px;
}

/*formulaire de recherche*/
form {
  border: 1px solid transparent;
  width: 100%;
  padding: 15px 0px 15px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eaeaea;
  -webkit-box-shadow: 0 4px 4px inset #c0c0c0;
          box-shadow: 0 4px 4px inset #c0c0c0;
}

form .icon_map {
  margin-right: 10px;
}

form input {
  background-color: transparent;
  border: 0;
  font-weight: bold;
}

/*slogan et bouton explorer*/
.slogan {
  border: 1px solid transparent;
  width: 100%;
  padding: 15px 0px 50px 0px;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.slogan h2 {
  font-weight: bold;
}

.slogan p {
  font-size: 18px;
  font-weight: 100;
}

/*fontionnement du site*/
.function {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  border: 1px solid transparent;
}

.function h2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid transparent;
}

.function ul {
  border: 1px solid transparent;
}

.function ul li {
  border: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  border-radius: 15px;
  margin-bottom: 15px;
  margin-left: -35px;
  background: #f2f2f2;
  -webkit-box-shadow: #a5a5a5 0 5px 10px;
          box-shadow: #a5a5a5 0 5px 10px;
}

.function ul li:hover {
  background-color: #e9d9ff;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.function ul li:hover i {
  color: #9356dc;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.function ul li .number {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #9356dc;
  padding: 5px 10px 5px 10px;
  margin-right: 15px;
  margin-left: -35px;
  color: whitesmoke;
}

.function ul li i {
  margin: 0 15px 0 0;
  padding: 0;
}

/*Cards des restaurants*/
.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f2f2f2;
  border: 1px solid transparent;
}

.restaurants .restaurant_card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 15px;
  -webkit-box-shadow: 0px 5px 20px rgba(153, 153, 153, 0.3);
          box-shadow: 0px 5px 20px rgba(153, 153, 153, 0.3);
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid transparent;
}

.restaurants .restaurant_card img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.restaurants .restaurant_card .card_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px;
  padding: 0 15px 0 15px;
}

.restaurants .restaurant_card .card_description i {
  font-size: 30px;
}

.restaurants .restaurant_card .card_description i:hover {
  font-weight: 900;
  background: -webkit-linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: 0.6s ease-in;
  transition: 0.6s ease-in;
}

.restaurants .restaurant_card .restaurant_cardNew {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: #99e2d0;
  border-radius: 5px;
  color: #5f867c;
  font-weight: bold;
  font-size: 18px;
  position: absolute;
  margin: 15px;
  padding: 0px 10px;
}

/*pages menus restaurants*/
.banner {
  height: 300px;
}

.banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid transparent;
  background-color: #f2f2f2;
  border-radius: 25px 25px 0 0;
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 25px;
  padding-bottom: 50px;
}

.menu .menu_title {
  font-family: "Shrikhand", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu .menu_title i {
  font-size: 30px;
  cursor: pointer;
}

.menu .menu_title i:hover {
  font-weight: 900;
  background: -webkit-linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: fondu-in 0.5s ease-in-out;
          animation: fondu-in 0.5s ease-in-out;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.container ul li {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 5px 20px rgba(153, 153, 153, 0.3);
          box-shadow: 0px 5px 20px rgba(153, 153, 153, 0.3);
  padding-left: 15px;
  margin-left: -35px;
  margin-bottom: 15px;
  border-radius: 15px;
}

.container ul li .li_content {
  width: 100%;
}

.container ul li .li_price {
  height: 75px;
  padding-top: 50px;
  padding-right: 15px;
}

.container ul li .li_check {
  border-radius: 0 15px 15px 0;
  background-color: #99e2d0;
  padding: 25px;
}

.container ul li .li_check .fa-check-circle {
  font-size: 25px;
  color: white;
}

/*footer*/
footer {
  background-color: #2e2e2e;
  z-index: 2;
}

footer a {
  font-size: 15px;
  color: whitesmoke;
}

footer .btn_index {
  font-size: 20px;
}

footer li {
  margin: 10px 0 10px 0;
}

footer li i {
  margin-right: 15px;
}
/*# sourceMappingURL=style.css.map */