/*pages menus restaurants*/
@media (min-width: 992px) {
	.container {
		display: flex;
		justify-content: space-around;
		ul {
			width: 100%;
		li {
			width: 100%;
		}
		}
	}
}
.banner {
	height: 300px;
	img {
	  width: 100%;
	  height: 100%;
	  object-fit: cover;
	}
  }
  .menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #f2f2f2;
	border-radius: 25px 25px 0 0;
	padding-top: 25px;
	padding-left: 15px;
	padding-right: 25px;
	padding-bottom: 100px;
	position: relative;
	bottom: 50px;
	margin-bottom: -50px;
  
	.menu_title {
	  display: flex;
	  align-items: center;
	  justify-content: space-between;
	  i {
		font-size: 30px;
		cursor: pointer;
		&:hover {
		  font-weight: 900;
		  background: -webkit-linear-gradient(#ff79da, #9356dc);
		  -webkit-background-clip: text;
		  -webkit-text-fill-color: transparent;
		  animation: fondu-in 0.5s ease-in-out;
		  animation-delay: 0.1s;
		  transition: 0.5s ease-in-out;
		}
	  }
	}
  }
  .container {
	  margin-bottom: 35px;
	h3 {
	  font-weight: 100;
	  &::after {
		content: "";
		display: block;
		width: 50px;
		height: 3px;
		background-color: $tertiary;
	  }
	}
	ul {
	  li {
		height: 75px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: white;
		box-shadow: 0px 5px 20px rgba(153, 153, 153, 0.3);
		padding-left: 15px;
		margin-left: -35px;
		margin-bottom: 15px;
		border-radius: 15px;
		&:hover .li_check {
		  	width: 25px;
		  	background-color: $tertiary;
		  	cursor: pointer;
			margin-left: 45px; 
		}
		&:hover .fa-check-circle {
			transform: rotate(360deg);
		}
  
		.li_content {
		  width: 100%;
		  white-space: nowrap;
		  overflow: hidden;
		  text-overflow: ellipsis;
		  h4 {
			font-size: 18px;
			font-weight: normal;
		
		  }
		  p {
			font-weight: 100;
			margin-top: -15px;
		  }
		}
		.li_price {
		  height: 75px;
		  padding-top: 50px;
		  padding-right: 15px;
		  margin-right: -45px;
		}
		.li_check {
		  width: 0px;
		  border-radius: 0 15px 15px 0;
		  background-color: transparent;
		  padding: 25px;
		  transition: width 0.5s;
		  .fa-check-circle {
			font-size: 25px;
			color: white;
			transition: transform 0.5s;
		  }
		}
	  }
	}
  }
  
  .container,
  .btn_order {
	animation: fadein 5s;
	-moz-animation: fadein 5s; /* Firefox */
	-webkit-animation: fadein 5s; /* Safari et Chrome */
	-o-animation: fadein 5s; /* Opera */
  }
  @keyframes fadein {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }
  @-moz-keyframes fadein {
	/* sur Firefox */
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }
  @-webkit-keyframes fadein {
	/* sur Safari et Chrome */
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }
  @-o-keyframes fadein {
	/* sur Opera */
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }
  