  /*formulaire de recherche*/
  
  form {
	border: 1px solid $linerWork;
	width: 100%;
	padding: 15px 0px 15px 0px;
	display: flex;
	justify-content: center;
	background-color: #eaeaea;
	box-shadow: 0 4px 4px inset #c0c0c0;
	.icon_map {
	  margin-right: 10px;
	}
	input {
	  background-color: transparent;
	  border: 0;
	  font-weight: bold;
	}
  }