  /* modifications des propritétés par défaut */
  
html {
	body {
	  box-sizing: border-box;
      a {
        text-decoration: none; 
      }
      li {
        list-style-type: none;
      }
	}
  }
