  /*footer*/
  footer {
	background-color: #2e2e2e;
	z-index: 2;
	a {
	  font-size: 15px;
	  color: whitesmoke;
	}
	.btn_index {
	  font-size: 20px;
	}
	li {
	  margin: 10px 0 10px 0;
	  i {
		margin-right: 15px;
	  }
	}
  }